.weui-tab__panel {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.xg_tabbar {
  &:before {
    height: 0px;
    border-top: none
  }
  position: fixed;
  background-color: #ffffff;
  .weui-tabbar__item {
    //padding-bottom: 5px;
    .iconfont {
      font-size: 20px;
      color: #919191;
    }
    .weui-tabbar__label {
      font-size: 11px;
      color: #333333;
      margin-top: 6px;
    }
  }
  .weui-bar__item_on {
    background: #fff;
    .iconfont {
      color: #1ab976;
    }
    .weui-tabbar__label {
      color: #1ab976;
    }
  }
  .tab__navbar-item-img {
    width: 24px;
    height: 24px;
  }
}
